*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins sans-serif ;
}
body{
    background: #ffffff;
    
}
.container{
    display: flex;

}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background-color: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    
}
.logo{
   padding-left: 70px;
    display: block;
    margin: 10px 0 0 0px;
}
.logo img{
    border-radius: 50%;
     height: 40px
}
.logo span{
    font-weight:bolder;
    font-size: 20px;
    
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 20px;
    display: table;
    width: 280px;
    padding: 15px;
}
nav.fas{
    position: relative;
    width: 76px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
   
    margin-left: 10px;

}
.one:hover{
    background-color: black;
    color: #fff;
}
.login:hover{
    background-color: black;
    color: #fff;
}
.login{
    position: relative;
    bottom: o;
    top: 170px;
}
.main{
   position: relative;
   padding-top: 20px;
   padding-left: 80px;
   width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
    cursor:pointer;

}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    cursor: pointer;
}
.main-skills{
    position: relative;
    top: 50px;
    left: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;

} 
.card i{
    font-size: 30px;
    padding-bottom: 20px;
}
.card h1{
    font-size: 20px;
    font-weight: bold;
}
.card p{
    padding-bottom: 10px;  
    padding-top: 10px;   
}
.card button{
    margin-top: 10px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    border: 4px solid  #ff0072;
    color:  #ff0072;
   background-color:#fff;
    align-items: center;
    width: 100px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16)
    0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;
    z-index: 1;

}
button::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ff0072;
    z-index: -1;
}
button:hover,button:focus{
    color: #fff;
    opacity: 80%;
    transform: scale(1.2);

}
button:hover::before,button:focus::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
button:active{
    transform: scale(0.8);
}
.main-course{
    padding-top: 80px;
    text-transform: capitalize;
}
.course-box{
    background-image:url("images.jpeg") ;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}
.course-box ul{
  list-style: none;
  display:flex;
  gap: 20px;

}
h1:hover{
    cursor: pointer;
}
.course-box ul li{
    margin: 10px;
    color: rgb(253, 251, 251);
    cursor: pointer;
}
.course-box ul:active{
    color: red;
    border-radius: 1px solid #000;
}
.course-box ul li:hover{
   
    color: #da0bb7;
    
    
}

.course-box.course{
    display: flex;

}
.box{
    width: 30%;
    height: 180px;
    padding: 10px;
    margin: 10px;
    
    background-color: beige;
    border-radius: 10px;
    color: #000;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}
.box:hover{
    transform: scale(1.1);
}
.box p{
    font-size: 15px;
    margin-top: 8px;
}
.box h3{
    background-color:none ;
    margin-top: 40px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    border: 4px solid  #ff0072;
    color:  #ff0072;
   background-color:#fff;
    align-items: center;
    width: 80px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16)
    0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;
    z-index: 1;

}
 .box h3::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ff0072;
    z-index: -1;
}
.box h3:hover,button:focus{
    color: #fff;
    opacity: 80%;
    transform: scale(1.2);

}
.box h3:hover::before,button:focus::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.box h3:active{
    transform: scale(0.8);
}

.box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}
.course{
    display: flex;
    margin-top: 20px;
    
}


    